footer.footer 
    .footer__logo 
        img(src='/img/logo-', alt="")
    ul.footer__nav
        li: a(href='#') About us 
        li: a(href='#') Download apps 
        li: a(href='#') Become a guide
        li: a(href='#') Careers 
        li: a(href='#') Contact
    p.footer__copuright &copy; by Melo Tang. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odio, eaque quaerat at quasi rem voluptas reiciendis.
