//- .header: class name
header.header
  //- class name: nav nav--tours 轉換後 nav.nav--tours
  nav.nav.nav--tours
    //- <a href="#" class="nav__el">All tours</a>
    //- '/' 代表 root page
    a.nav__el(href='/') All tours
  //-.代表div 此 div class name 為 header__logo
  .header__logo
    img(src='/img/logo-white.png' alt='Natours logo')
  nav.nav.nav--user
    //- 抓取 authController 下的  res.locals.user 判斷是否有登入
    //-有登入
    if user
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        //- 抓取 user 的 first name
        span= user.name.split(' ')[0]
    //-沒有登入
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='#') Sign up